/* responsive media query styles */

/* mobile devices */

@media screen and (max-width: 576px) {
    .nav-title {
        margin-bottom: 20px;
    }
    .header {
        background-image: none;
    }
    nav {
        margin-left: auto;
        margin-right: auto;
    }
    nav>ul {
        flex-direction: column;
    }
    .banner {
        padding-left: 20px;
    }
    .banner .profile-picture {
        width: 100%;
    }
    .banner-content {
        margin-bottom: 35px;
    }
    .banner-content > button {
        margin-top: 10px;
    }
    main section {
        margin-top: 25px;
    }
    .about {
        padding: 20px;
    }
    .about-info-container {
        flex-wrap: wrap;
        gap: 35px;
    }
    #what-i-do-description {
        padding: 20px;
    }

    nav,
    .banner,
    .skills-container,
    .resume-container {
        flex-direction: column;
    }

    .resume-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        flex-direction: column-reverse;
        padding: 20px;
        margin-top: 35px;
    }

    .let-connect {
        margin-top: 100px;
    }

    .footer-column {
        width: 100%;
    }

    .contact input[type=text],
    .contact input[type=email],
    textarea {
        width: 75%;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .btn-primary {
        margin-bottom: 15px;
    }
    
    footer {
        padding: 30px;
    }
}